body {
	background-color: black;
	color: white;
}

h1 {
	color: white;
}

.container {
	padding-top: 40px;
	width: 960px;
	height: auto;
	margin: 0 auto;
}

.game-header {
	text-align: center;
	font-size: 60px;
	color:;
}

.goal-container {
	border: 2px solid black;
	display: inline-block;
}

.goal-container > h1 {
	font-size: 30px;
}

.your-container {
	border: 2px solid black;
	float: right;
	display: inline-block;
	margin-right: 28px;
}

.gallery {

}
